{% extends 'base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block additional_styles %}
{% endblock %}

{% block header_content %}
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>ОНЛАЙН ИПОТЕЧНЫЙ КАЛЬКУЛЯТОР</h1>
                <h2>
                    Тут вы сможете не только рассчитать свою ипотеку, но и найти интересные предложения банков
                </h2>
            </div>

            <!--Call to Action-->
            <a href="{% url 'calculator' %}" class="button">ПОСЧИТАТЬ СЕЙЧАС</a>
            <!--End Call to Action-->

        </div>

    </div>
    <!--End of Row-->
{% endblock %}

{% block main_content %}
    <!--Main Content Area-->
    <main id="content">
        <section id="benefits">

            <!--Introduction-->
            <section id="about" class="introduction scrollto">

                <div class="row clearfix">

                    <div class="col-3">
                        <div class="section-heading">
                            <h3>ПОЧЕМУ ЭТО ВАЖНО</h3>
                            <h2 class="section-title">Грамотно подойдите к выбору предложения по ипотеке</h2>
                            <p class="section-subtitle">
                                Уверенность в завтрашнем дне начинается с точного расчета вашей ипотеки сегодня
                            </p>
                        </div>

                    </div>

                    <div class="col-2-3">

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-rocket fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Финансовая стабильность</h4>
                                <p>
                                    Тщательный расчёт ипотеки обеспечивает
                                    способность справляться с платежами без риска для бюджета
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-bolt fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Планирование инвестиций</h4>
                                <p>
                                    Знание ежемесячного платежа помогает в распределении средств на
                                    другие цели, такие как накопления или инвестиции
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-bolt fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Предотвращение переплаты</h4>
                                <p>
                                    Точный расчёт ипотеки позволяет избежать ненужных
                                    переплат по процентам и другим сопутствующим расходам
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-rocket fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Гибкость</h4>
                                <p>
                                    Тщательный расчёт ипотеки даёт возможность гибкого управления
                                    финансами, адаптируясь к изменениям в доходах и расходах
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                    </div>

                </div>


            </section>
            <!--End of Introduction-->


            <!-- Gallery-->
            <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery
                     data-featherlight-filter="a">

                    <a href="{% static 'images/gallery-images/gallery-image-1.jpg' %}" data-featherlight="image" class="col-3 wow fadeIn"
                       data-wow-delay="0.1s"><img src="{% static 'images/gallery-images/gallery-image-1.jpg' %}" alt="Landing Page"/></a>
                    <a href="{% static 'images/gallery-images/gallery-image-2.jpg' %}" data-featherlight="image" class="col-3 wow fadeIn"
                       data-wow-delay="0.3s"><img src="{% static 'images/gallery-images/gallery-image-2.jpg' %}" alt="Landing Page"/></a>
                    <a href="{% static 'images/gallery-images/gallery-image-3.jpg' %}" data-featherlight="image" class="col-3 wow fadeIn"
                       data-wow-delay="0.5s"><img src="{% static 'images/gallery-images/gallery-image-3.jpg' %}" alt="Landing Page"/></a>
                    <a href="{% static 'images/gallery-images/gallery-image-4.jpg' %}" data-featherlight="image" class="col-3 wow fadeIn"
                       data-wow-delay="1.1s"><img src="{% static 'images/gallery-images/gallery-image-4.jpg' %}" alt="Landing Page"/></a>
                    <a href="{% static 'images/gallery-images/gallery-image-5.jpg' %}" data-featherlight="image" class="col-3 wow fadeIn"
                       data-wow-delay="0.9s"><img src="{% static 'images/gallery-images/gallery-image-5.jpg' %}" alt="Landing Page"/></a>
                    <a href="{% static 'images/gallery-images/gallery-image-6.jpg' %}" data-featherlight="image" class="col-3 wow fadeIn"
                       data-wow-delay="0.7s"><img src="{% static 'images/gallery-images/gallery-image-6.jpg' %}" alt="Landing Page"/></a>

            </aside>
            <!--End of Gallery-->


            <!--Content Section-->
            <div id="services" class="scrollto clearfix">

                <div class="row no-padding-bottom clearfix">


                    <!--Content Left Side-->
                    <div class="col-3">
                        <!--User Testimonial-->
                        <blockquote class="testimonial text-right bigtest">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore
                                et dolore magna aliqua</q>
                            <footer>— John Doe, Happy Customer</footer>
                        </blockquote>
                        <!-- End of Testimonial-->

                    </div>
                    <!--End Content Left Side-->

                    <!--Content of the Right Side-->
                    <div class="col-3">
                        <div class="section-heading">
                            <h3>BELIEVING</h3>
                            <h2 class="section-title">Focusing On What Matters Most</h2>
                            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo.
                        </p>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet!
                        </p>
                        <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                        <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!--End Content Right Side-->

                    <div class="col-3">
                        <img src="{% static 'images/dancer.jpg' %}" alt="Dancer"/>
                    </div>

                </div>


            </div>
            <!--End of Content Section-->
        </section>

        <!--Testimonials-->
        <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

            <div class="row clearfix">

                <div class="section-heading">
                    <h3>FEEDBACK</h3>
                    <h2 class="section-title">What our customers are saying</h2>
                </div>

                <!--User Testimonial-->
                <blockquote class="col-3 testimonial classic">
                    <img src="{% static 'images/user-images/user-1.jpg' %}" alt="User"/>
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua</q>
                    <footer>John Doe - Happy Customer</footer>
                </blockquote>
                <!-- End of Testimonial-->

                <!--User Testimonial-->
                <blockquote class="col-3 testimonial classic">
                    <img src="{% static 'images/user-images/user-2.jpg' %}" alt="User"/>
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua</q>
                    <footer>Roslyn Doe - Happy Customer</footer>
                </blockquote>
                <!-- End of Testimonial-->

                <!--User Testimonial-->
                <blockquote class="col-3 testimonial classic">
                    <img src="{% static 'images/user-images/user-3.jpg' %}" alt="User"/>
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua</q>
                    <footer>Thomas Doe - Happy Customer</footer>
                </blockquote>
                <!-- End of Testimonial-->

            </div>

        </aside>
        <!--End of Testimonials-->

        <!--Clients-->
        <section id="clients" class="scrollto clearfix">
            <div class="row clearfix">

                <div class="col-3">

                    <div class="section-heading">
                        <h3>TRUST</h3>
                        <h2 class="section-title">Companies who use our services</h2>
                        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
                    </div>

                </div>

                <div class="col-2-3">

                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo1.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Tree</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo2.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Fingerprint</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo3.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>The Man</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo4.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Mustache</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo5.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Goat</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo6.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Justice</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo7.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Ball</span></div>
                    </a>
                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo8.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Cold</span></div>
                    </a>

                    <a href="#" class="col-3">
                        <img src="{% static 'images/company-images/company-logo9.png' %}" alt="Company"/>
                        <div class="client-overlay"><span>Cold</span></div>
                    </a>

                </div>

            </div>
        </section>
        <!--End of Clients-->

        <!--Pricing Tables-->
        <section id="pricing" class="secondary-color text-center scrollto clearfix ">
            <div class="row clearfix">

                <div class="section-heading">
                    <h3>YOUR CHOICE</h3>
                    <h2 class="section-title">We have the right package for you</h2>
                </div>

                <!--Pricing Block-->
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="pricing-block-content">
                        <h3>Personal</h3>
                        <p class="pricing-sub">The standard version</p>
                        <div class="pricing">
                            <div class="price"><span>$</span>19</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <ul>
                            <li>5 Downloads</li>
                            <li>2 Extensions</li>
                            <li>Tutorials</li>
                            <li>Forum Support</li>
                            <li>1 year free updates</li>
                        </ul>
                        <a href="#" class="button">BUY TODAY</a>
                    </div>
                </div>
                <!--End Pricing Block-->

                <!--Pricing Block-->
                <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="pricing-block-content">
                        <h3>Student</h3>
                        <p class="pricing-sub">Most popular choice</p>
                        <div class="pricing">
                            <div class="price"><span>$</span>29</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <ul>
                            <li>15 Downloads</li>
                            <li>5 Extensions</li>
                            <li>Tutorials with Files</li>
                            <li>Forum Support</li>
                            <li>2 years free updates</li>
                        </ul>
                        <a href="#" class="button">BUY TODAY</a>
                    </div>
                </div>
                <!--End Pricing Block-->

                <!--Pricing Block-->
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="pricing-block-content">
                        <h3>Business</h3>
                        <p class="pricing-sub">For the whole team</p>
                        <div class="pricing">
                            <div class="price"><span>$</span>49</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <ul>
                            <li>Unlimited Downloads</li>
                            <li>Unlimited Extensions</li>
                            <li>HD Video Tutorials</li>
                            <li>Chat Support</li>
                            <li>Lifetime free updates</li>
                        </ul>
                        <a href="#" class="button">BUY TODAY</a>
                    </div>
                </div>
                <!--End Pricing Block-->

            </div>
        </section>
        <!--End of Pricing Tables-->

    </main>
    <!--End Main Content Area-->
{% endblock %}

{% block additional_js %}
{% endblock %}