{% extends 'base.html' %}
{% load static %}

{% block title %}
Калькулятор
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">
    <style>
        :root {
            --main-color: #b19777;
            --main-color-hover: #817059FF;
            --main-color-selected: #c0a482;
            --main-gray: #dad6d6;
            --main-dark-gray-border: #5a5858;
            --main-black: #111;
            --main-white: #ffffff;
            --main-error-border: #cc0f0f;
            --main-error-red: #fbcbd1;
            --main-success-green: #8cd6ad;
            --main-success-border: #299f67;
        }
        label {
            min-width: 166px;
        }

        .my_button {
            position: relative;
            background: var(--main-dark-gray-border);
            color: var(--main-black);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            padding: 13px 30px 10px 30px;
            transition: 0.5s;
        }

        .my_button:hover {
            letter-spacing: 0.25em;
            background: var(--main-color);
            box-shadow: 0 0 35px var(--main-color)
        }

        .my_button span {
            position: relative;
            z-index: 1;
        }

        .my_button:hover span {
            color: var(--main-color);
        }

        .my_button:before {
            content: "";
            position: absolute;
            inset: 2px;
            background: var(--main-white);
        }

        .my_button i {
            position: absolute;
            inset: 0;
            display: block;
        }

        .my_button i::before {
            content: "";
            position: absolute;
            border: 2px solid var(--main-color);
            left: 80%;
            height: 10px;
            width: 15px;
            top: -3.5px;
            background: var(--main-white);
            /*transform: translateX(-50%);*/
            transition: 0.5s;
        }

        .my_button:hover i::before {
            width: 25px;
            left: 20%;
        }

        .my_button i::after {
            content: "";
            position: absolute;
            border: 2px solid var(--main-color);
            right: 80%;
            height: 10px;
            width: 15px;
            bottom: -3.5px;
            background: var(--main-white);
            /*transform: translateX(-50%);*/
            transition: 0.5s;
        }

        .my_button:hover i::after {
            width: 25px;
            right: 20%;
        }
    </style>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
<div style="margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;">

    <h2>Вход</h2>
    <form method="post" style="margin-bottom: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin-top: 45px; margin-bottom: 20px; justify-content: center; display: flex">
            <button id="form_button" type="submit" class="my_button" style="border: unset;"><span>Войти</span><i></i></button>
        </div>
    </form>
    <a href="{% url 'signup' %}">Нет аккаунта? Зарегистрироваться</a>
</div>
{% endblock %}

{% block additional_js %}
{% endblock %}
