<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <meta charset="UTF-8">

        <!--Meta Keywords and Description-->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

        <!--Favicon-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" title="Favicon"/>

        <!-- Main CSS Files -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Namari Color CSS -->
        <link rel="stylesheet" href="{% static 'css/namari-color.css' %}">

        <!--Icon Fonts - Font Awesome Icons-->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <!-- Animate CSS-->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">

        <!--Google Webfonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!--Page Title-->
        <title>{% block title %} Base page {% endblock %}</title>

        {% block additional_styles %}
        {% endblock %}
        <style>
            #slvj-window {
                z-index: 9999999999;
            }
        </style>
    </head>
    <body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status" class="la-ball-triangle-path">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!--End of Preloader-->

    <div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
        <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
        <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
        <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
        <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
    </div>

    <div id="wrapper">

        <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
            <div id="header" class="nav-collapse">
                <div class="row clearfix">
                    <div class="col-1">

                        <!--Logo-->
                        <div id="logo">

                            <!--Logo that is shown on the banner-->
                            <img src="{% static 'images/logo.png' %}" id="banner-logo" alt="Landing Page"/>
                            <!--End of Banner Logo-->

                            <!--The Logo that is shown on the sticky Navigation Bar-->
                            <img src="{% static 'images/logo-2.png' %}" id="navigation-logo" alt="Landing Page"/>
                            <!--End of Navigation Logo-->

                        </div>
                        <!--End of Logo-->

                        <aside>

                            <!--Social Icons in Header-->
                            <ul class="social-icons">
                                <li>
                                    <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                                        <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" title="Google+" href="http://google.com/+username">
                                        <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                                        <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                                        <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" title="behance" href="http://www.behance.net">
                                        <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                                    </a>
                                </li>
                            </ul>
                            <!--End of Social Icons in Header-->

                        </aside>

                        <!--Main Navigation-->
                        <nav id="nav-main">
                            <ul>
                                <li>
                                    <a {% if is_main_page %} href="#banner" {% else %}  href="{% url 'home' %}" {% endif %}>
                                        Главная
                                    </a>
                                </li>
                                <li>
                                    <a {% if is_main_page %} href="#benefits" {% else %}  href="{% url 'home' %}#benefits" {% endif %}>
                                        Польза
                                    </a>
                                </li>
                                <li>
                                    <a {% if is_calculator_page %} href="#" style="color: #d2b356; border-color: #d2b356;" {% else %}  href="{% url 'calculator' %}" {% endif %}>
                                        Калькулятор
                                    </a>
                                </li>
                                <li>
                                    <a {% if is_account_page %} href="#" style="color: #d2b356; border-color: #d2b356;" {% else %}  href="{% url 'account' %}" {% endif %}>
                                        Аккаунт
                                    </a>
                                </li>
                                <li>
                                    <a {% if is_suggestions_page %} href="#" style="color: #d2b356; border-color: #d2b356;" {% else %}  href="{% url 'suggestions' %}" {% endif %}>
                                        Предложения
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!--End of Main Navigation-->

                        <div id="nav-trigger"><span></span></div>
                        <nav id="nav-mobile"></nav>

                    </div>
                </div>
            </div><!--End of Header-->

            {% block header_content %}
            {% endblock %}
        </header>

        {% block main_content %}
        {% endblock %}

        <!--Footer-->
        <footer id="landing-footer" class="clearfix">
            <div class="row clearfix">

                <p id="copyright" class="col-2">Made with love by <a href="https://t.me/yarikosikus">yarikosikus</a></p>

                <!--Social Icons in Footer-->
                <ul class="col-2 social-icons">
                    <li>
                        <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                            <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="Google+" href="http://google.com/+username">
                            <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                            <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                            <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="behance" href="http://www.behance.net">
                            <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                        </a>
                    </li>
                </ul>
                <!--End of Social Icons in Footer-->
            </div>
        </footer>
        <!--End of Footer-->

    </div>

    <!-- Include JavaScript resources -->
    <script src="{% static 'js/jquery.1.8.3.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/featherlight.min.js' %}"></script>
    <script src="{% static 'js/featherlight.gallery.min.js' %}"></script>
    <script src="{% static 'js/jquery.enllax.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.stickyNavbar.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/images-loaded.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>

    {% block additional_js %}
    {% endblock %}


    </body>
</html>