{% extends 'base.html' %}
{% load static %}

{% block title %}
Аккаунт
{% endblock %}

{% block additional_styles %}
<style>
    .logout_button:hover {
        border-color: red !important;
        color: red !important;
    }
</style>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
    <main style="min-height: calc(100vh - 100px);">
        <!-- Главный контент страницы пользователя -->

        <div id="services" class="scrollto clearfix" tabindex="-1">

                <div class="row no-padding-bottom clearfix">

                    <!--Content of the Right Side-->
                    <div class="col-2">
                        <div class="section-heading">
                            <h3>Профиль пользователя</h3>
                            <h2 class="section-title">Добро пожаловать, <strong>{{ user.username }}</strong></h2>
                            <p class="section-subtitle">Вы можете отредактировать профиль <strike> и просмотреть свою историю вычислений </strike></p>
                        </div>
                        <p>Электронная почта: <strong>{{ user.email }}</strong></p>
                        <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                        <a href="#" data-videoid="yqWX86uT5jM" data-videosite="youtube" class="button video link-lightbox">
                            Отредактировать профиль
                        </a>
                        <a href="{% url 'logout' %}" class="button logout_button">
                            Выйти
                        </a>
                    </div>
                </div>
            </div>

    </main>
{% endblock %}

{% block additional_js %}
{% endblock %}
