{% extends 'base.html' %}
{% load static %}

{% block title %}
Предложения
{% endblock %}

{% block additional_styles %}
    <style>
        .text-center .section-heading h2:after {
            margin: 30px 0 25px 0;
        }
        #wrapper {
            background-color: #f5f5f5;
        }
    </style>
    <style>
        :root {
            --main-color: #b19777;
            --main-color-hover: #817059FF;
            --main-color-selected: #c0a482;
            --main-gray: #dad6d6;
            --main-dark-gray-border: #5a5858;
            --main-black: #111;
            --main-white: #ffffff;
            --main-error-border: #cc0f0f;
            --main-error-red: #fbcbd1;
            --main-success-green: #8cd6ad;
            --main-success-border: #299f67;
        }
        label {
            min-width: 166px;
        }

        .my_button {
            position: relative;
            background: var(--main-dark-gray-border);
            color: var(--main-black);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            padding: 13px 30px 10px 30px;
            transition: 0.5s;
        }

        .my_button:hover {
            letter-spacing: 0.25em;
            background: var(--main-color);
            box-shadow: 0 0 35px var(--main-color)
        }

        .my_button span {
            position: relative;
            z-index: 1;
        }

        .my_button:hover span {
            color: var(--main-color);
        }

        .my_button:before {
            content: "";
            position: absolute;
            inset: 2px;
            background: var(--main-white);
        }

        .my_button i {
            position: absolute;
            inset: 0;
            display: block;
        }

        .my_button i::before {
            content: "";
            position: absolute;
            border: 2px solid var(--main-color);
            left: 80%;
            height: 10px;
            width: 15px;
            top: -3.5px;
            background: var(--main-white);
            /*transform: translateX(-50%);*/
            transition: 0.5s;
        }

        .my_button:hover i::before {
            width: 25px;
            left: 20%;
        }

        .my_button i::after {
            content: "";
            position: absolute;
            border: 2px solid var(--main-color);
            right: 80%;
            height: 10px;
            width: 15px;
            bottom: -3.5px;
            background: var(--main-white);
            /*transform: translateX(-50%);*/
            transition: 0.5s;
        }

        .my_button:hover i::after {
            width: 25px;
            right: 20%;
        }
    </style>
    <style>
        .section-title1::after {
            margin-right: auto;
            margin-left: auto;
        }
    </style>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}


    <div style="max-width: 1245px; margin-right: auto; margin-left: auto; padding: 20px">
        <div class="row clearfix" style="display: flex; align-items: center; flex-direction: column;">

            <div class="section-heading">
                <h2 class="section-title section-title1" style="text-align: center">Ипотечный калькулятор</h2>
            </div>

            <label for="principal">Основная сумма займа (руб.):</label>
            <input type="number" id="principal" required><br><br>

            <label for="interest">Годовая процентная ставка (%):</label>
            <input type="number" id="interest" step="0.01" required><br><br>

            <label for="years">Срок кредита (года):</label>
            <input type="number" id="years" required><br><br>

            <button id="form_button" onclick="calculateMortgage()" class="my_button" style="border: unset;"><span>Рассчитать</span><i></i></button>
            <h3>Ежемесячный платеж: <span id="payment">0</span> руб.</h3>

        </div>


        <section id="pricing" class="secondary-color text-center scrollto clearfix " style="padding: 20px">
            <div class="">

                <div class="section-heading" style="display: flex; flex-direction: column; align-items: center;">
                    <h3 style="text-align: center">Ипотека</h3>
                    <h2 style="text-align: center; align-items: center; display: flex; flex-direction: column;" class="section-title section-title1">Рекомендуемые предложения</h2>
                </div>

                <!--Pricing Block-->
                {% for mortgage in mortgages %}
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="{% cycle '0.4s' '0.6s' '0.8s' %}" >
                    <div class="pricing-block-content">
                        <h3 style="color: #d2b356; padding-bottom: 20px; padding-top: 0px">{{ mortgage.bank_name }}<br></h3>
                        <!--<p class="pricing-sub">The standard version</p>-->
                        <div class="pricing">
                            <div class="price"><span>%</span>{{ mortgage.loan_rate }}</div>
                        </div>
                        <ul>
                            <li>Сумма кредита <br> {{ mortgage.amount }} ₽ </li>
                            <li>Средний ежемесячный платеж <br> {{ mortgage.payment }} ₽ </li>
                        </ul>
                        <a href="{{ mortgage.link }}" class="button">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
                <!--End Pricing Block-->

            </div>
        </section>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
        function calculateMortgage() {
            // Получение значений из полей ввода
            let principal = document.getElementById('principal').value;
            let interest = document.getElementById('interest').value / 100 / 12;  // Переводим годовую ставку в месячную
            let years = document.getElementById('years').value * 12;  // Переводим количество лет в количество месяцев

            // Формула расчета ежемесячного платежа
            let x = Math.pow(1 + interest, years);
            let monthly = (principal * x * interest) / (x - 1);

            // Проверка на корректность введенных данных
            if (!isNaN(monthly) && (monthly != Infinity) && (monthly > 0)) {
                document.getElementById('payment').innerHTML = monthly.toFixed(2);
            } else {
                document.getElementById('payment').innerHTML = "Некорректные данные";
            }
        }
    </script>
{% endblock %}
