{% extends 'base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block additional_styles %}
{% endblock %}

{% block header_content %}
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>ОНЛАЙН ИПОТЕЧНЫЙ КАЛЬКУЛЯТОР</h1>
                <h2>
                    Тут вы сможете не только рассчитать свою ипотеку, но и найти интересные предложения банков
                </h2>
            </div>

            <!--Call to Action-->
            <a href="{% url 'calculator' %}" class="button">ПОСЧИТАТЬ СЕЙЧАС</a>
            <!--End Call to Action-->

        </div>

    </div>
    <!--End of Row-->
{% endblock %}

{% block main_content %}
    <!--Main Content Area-->
    <main id="content">
        <section id="benefits" class="introduction scrollto">

            <!--Introduction-->
            <section id="about" class="introduction scrollto">

                <div class="row clearfix">

                    <div class="col-3">
                        <div class="section-heading">
                            <h3>ПОЧЕМУ ЭТО ВАЖНО</h3>
                            <h2 class="section-title">Грамотно подойдите к выбору предложения по ипотеке</h2>
                            <p class="section-subtitle">
                                Уверенность в завтрашнем дне начинается с точного расчета вашей ипотеки сегодня
                            </p>
                        </div>

                    </div>

                    <div class="col-2-3">

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-rocket fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Финансовая стабильность</h4>
                                <p>
                                    Тщательный расчёт ипотеки обеспечивает
                                    способность справляться с платежами без риска для бюджета
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-bolt fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Планирование инвестиций</h4>
                                <p>
                                    Знание ежемесячного платежа помогает в распределении средств на
                                    другие цели, такие как накопления или инвестиции
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-bolt fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Предотвращение переплаты</h4>
                                <p>
                                    Точный расчёт ипотеки позволяет избежать ненужных
                                    переплат по процентам и другим сопутствующим расходам
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                        <!--Icon Block-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                            <!--Icon-->
                            <div class="icon">
                                <i class="fa fa-rocket fa-2x"></i>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>Гибкость</h4>
                                <p>
                                    Тщательный расчёт ипотеки даёт возможность гибкого управления
                                    финансами, адаптируясь к изменениям в доходах и расходах
                                </p>
                            </div>
                        </div>
                        <!--End of Icon Block-->

                    </div>

                </div>


            </section>
            <div id="services" class="scrollto clearfix">

                <div class="row no-padding-bottom clearfix">


                    <!--Content Left Side-->
                    <div class="col-3">
                        <!--User Testimonial-->
                        <blockquote class="testimonial text-right bigtest">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore
                                et dolore magna aliqua</q>
                            <footer>— John Doe, Happy Customer</footer>
                        </blockquote>
                        <!-- End of Testimonial-->

                    </div>
                    <!--End Content Left Side-->

                    <!--Content of the Right Side-->
                    <div class="col-3">
                        <div class="section-heading">
                            <h3>УЧЕНИЕ - ЖИЗНЬ</h3>
                            <h2 class="section-title">Тут я считаю надо вставить какой-нить нормальный обучающий текст или просто выкинуть этот блок</h2>
                            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo.
                        </p>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet!
                        </p>
                        <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                        <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!--End Content Right Side-->

                    <div class="col-3">
                        <img src="{% static 'images/dancer.jpg' %}" alt="Dancer"/>
                    </div>

                </div>


            </div>
            <!--End of Content Section-->
        </section>

        <!--Pricing Tables-->
        <section id="pricing" class="secondary-color text-center scrollto clearfix ">
            <div class="row clearfix">

                <div class="section-heading">
                    <h3>Предложения по ипотеке</h3>
                    <h2 class="section-title">Актуальные возможности</h2>
                </div>

                <!--Pricing Block-->
                {% for mortgage in mortgages %}
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="{% cycle '0.4s' '0.6s' '0.8s' %}" >
                    <div class="pricing-block-content">
                        <h3 style="color: #d2b356; padding-bottom: 20px; padding-top: 0px">{{ mortgage.bank_name }}</h3>
                        <!--<p class="pricing-sub">The standard version</p>-->
                        <div class="pricing">
                            <div class="price"><span>%</span>{{ mortgage.loan_rate }}</div>
                        </div>
                        <ul>
                            <li>Сумма кредита <br> {{ mortgage.amount }} ₽ </li>
                            <li>Средний ежемесячный платеж <br> {{ mortgage.payment }} ₽ </li>
                        </ul>
                        <a href="{{ mortgage.link }}" class="button">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
                <!--End Pricing Block-->

            </div>
        </section>
        <!--End of Pricing Tables-->

    </main>
    <!--End Main Content Area-->
{% endblock %}

{% block additional_js %}
{% endblock %}