{% extends 'base.html' %}
{% load static %}

{% block title %}
Предложения
{% endblock %}

{% block additional_styles %}
<style>
    .text-center .section-heading h2:after {
        margin: 30px 0 25px 0;
    }
    #wrapper {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
<div style="max-width: 1245px; margin-right: auto; margin-left: auto; padding: 20px">
    <section id="pricing" class="secondary-color text-center scrollto clearfix " style="padding: 20px">
        <div class="row clearfix">

            <div class="section-heading">
                <h3 style="text-align: start">Предложения по ипотеке</h3>
                <h2 style="text-align: start" class="section-title">Актуальные возможности</h2>
            </div>

            <!--Pricing Block-->
            {% for mortgage in mortgages %}
            <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="{% cycle '0.4s' '0.6s' '0.8s' %}" >
                <div class="pricing-block-content">
                    <h3 style="color: #d2b356; padding-bottom: 20px; padding-top: 0px">{{ mortgage.bank_name }}<br></h3>
                    <!--<p class="pricing-sub">The standard version</p>-->
                    <div class="pricing">
                        <div class="price"><span>%</span>{{ mortgage.loan_rate }}</div>
                    </div>
                    <ul>
                        <li>Сумма кредита <br> {{ mortgage.amount }} ₽ </li>
                        <li>Средний ежемесячный платеж <br> {{ mortgage.payment }} ₽ </li>
                    </ul>
                    <a href="{{ mortgage.link }}" class="button">Подробнее</a>
                </div>
            </div>
            {% endfor %}
            <!--End Pricing Block-->

        </div>
    </section>
</div>
{% endblock %}

{% block additional_js %}
{% endblock %}
